.blog__page {
    overflow: hidden;
    background-color: #e2e2df48;
}

.blog__page__blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    height: auto !important;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    /* margin-top: 0px; */
}




/* .ant-card:not(:first-child) {
    width: 360px;
    min-width: 170px !important;
   
} */


/* 

@media only screen and (min-width: 700px) {
    .blog__page {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .blog__page__blog {
        flex-direction: row;
        flex: 0.7;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .blog__page__blog > * {
        flex-basis:40%;
    }

    .blog__page__aside {
        flex: 0.3;
        display: flex;
        align-items: center;
    }
} */
  
  
@media only screen and (min-width: 810px) {

    /* .ant-card:not(:first-child) {
        max-width: 810px !important;
    } */
    
}
  
  
@media only screen and (min-width: 990px) {

    .blog__page {
        display: flex;
    }

    .blog__page__blog {
        flex: 0.8;
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 40px;
        flex-direction: row;
    }

    .blog__page__blog > * {
        flex-basis:45% ;
    }

    .blog__page__aside {
        flex-direction: column;
        flex: 0.2;
        display: flex;
        padding-top: 20px;
        height: 100%;
        /* background-color: rgba(153, 153, 153, 0.097); */
    }

    .blog__form__login {
        /* background-color: #ffc525; */
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        width: 100%;
        border-bottom: 1px solid #e2e2df;
    }

    .blog__search {
        padding-left: 45px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e2e2df;
    }

    /* .blog__latest_posts {
        padding-left: 45px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e2e2df;
    } */

    .blog__latest_posts h2 {
        font-weight: 700;
    }

} 